<!-- /api/realtimeproducts -->
<div class="d-flex justify-content-center">
    <h1>Lista de Productos en Tiempo Real</h1>
</div>
<div>
    {{#each productos}}
        <div>{{this.title}}</div>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="./js/index.js"></script>
